<p>
 <%= comment.contributor.profile_name %> says: 
 <i> <%= comment.message %> </i>
<% if comment.contributor == current_contributor %>
 <%= button_to 'Uncomment', comment,
              method: :delete,
              data: { confirm: "Are you sure?" }, class:"btn-secondary" %>
<% end %>
 </p>